openapi: 3.0.1
info:
  title: Credit Solutions - Network International
  version: '2.0'
servers:
  - url: https://api-sandbox.network.global/
paths:
  /V2/cardservices/ClientCreate:
    post:
      tags:
        - ClientCreate
      summary: ClientCreate
      description: ClientCreate
      operationId: post-CardServices-Transaction-V2-ClientCreate
      requestBody:
        description: Sample Description
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NISrvRequestClientCreate'
        required: true
      responses:
        '200':
          description: Sample Description
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NISrvResponseClientCreate'
        '400':
          description: Bad Request
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '500':
          description: Internal Server Error
          content: {}
        '502':
          description: Bad gateway
          content: {}
        '503':
          description: Scheduled Maintenance
          content: {}
        '504':
          description: Gateway Timeout
          content: {}
        '596':
          description: Service Not Found
          content: {}
      x-codegen-request-body-name: NISrvRequestClientCreate
  /V2/cardservices/AccountCreate:
    post:
      tags:
        - AccountCreate
      summary: AccountCreate
      description: AccountCreate
      operationId: post-CardServices-Transaction-V2-AccountCreate
      requestBody:
        description: Sample Description
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NISrvRequestAccountCreate'
        required: true
      responses:
        '200':
          description: Sample Description
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NISrvResponseAccountCreate'
        '400':
          description: Bad Request
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '500':
          description: Internal Server Error
          content: {}
        '502':
          description: Bad gateway
          content: {}
        '503':
          description: Scheduled Maintenance
          content: {}
        '504':
          description: Gateway Timeout
          content: {}
        '596':
          description: Service Not Found
          content: {}
      x-codegen-request-body-name: NISrvRequestAccountCreate
  /V2/cardservices/CardCreate:
    post:
      tags:
        - CardCreate
      summary: CardCreate
      description: CardCreate
      operationId: post-CardServices-Transaction-V2-CardCreate
      requestBody:
        description: Sample Description
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NISrvRequestCardCreate'
        required: true
      responses:
        '200':
          description: Sample Description
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NISrvResponseCardCreate'
        '400':
          description: Bad Request
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '500':
          description: Internal Server Error
          content: {}
        '502':
          description: Bad gateway
          content: {}
        '503':
          description: Scheduled Maintenance
          content: {}
        '504':
          description: Gateway Timeout
          content: {}
        '596':
          description: Service Not Found
          content: {}
      x-codegen-request-body-name: NISrvRequestCardCreate
  /V2/cardservices/ClientUpdate:
    post:
      tags:
        - ClientUpdate
      summary: ClientUpdate
      description: ClientUpdate
      operationId: post-CardServices-Transaction-V2-ClientUpdate
      requestBody:
        description: Sample Description
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NISrvRequestClientUpdate'
        required: true
      responses:
        '200':
          description: Sample Description
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NISrvResponseClientUpdate'
        '400':
          description: Bad Request
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '500':
          description: Internal Server Error
          content: {}
        '502':
          description: Bad gateway
          content: {}
        '503':
          description: Scheduled Maintenance
          content: {}
        '504':
          description: Gateway Timeout
          content: {}
        '596':
          description: Service Not Found
          content: {}
      x-codegen-request-body-name: NISrvRequestClientUpdate
  /V2/cardservices/AccountUpdate:
    post:
      tags:
        - AccountUpdate
      summary: AccountUpdate
      description: AccountUpdate
      operationId: post-CardServices-Transaction-V2-AccountUpdate
      requestBody:
        description: Sample Description
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NISrvRequestAccountUpdate'
        required: true
      responses:
        '200':
          description: Sample Description
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NISrvResponseAccountUpdate'
        '400':
          description: Bad Request
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '500':
          description: Internal Server Error
          content: {}
        '502':
          description: Bad gateway
          content: {}
        '503':
          description: Scheduled Maintenance
          content: {}
        '504':
          description: Gateway Timeout
          content: {}
        '596':
          description: Service Not Found
          content: {}
      x-codegen-request-body-name: NISrvRequestAccountUpdate
  /V2/cardservices/CardActivation:
    post:
      tags:
        - CardActivation
      summary: CardActivation
      description: CardActivation
      operationId: post-CardServices-Transaction-V2-CardActivation
      requestBody:
        description: Sample Description
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NISrvRequestCardActivation'
        required: true
      responses:
        '200':
          description: Sample Description
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NISrvResponseCardActivation'
        '400':
          description: Bad Request
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '500':
          description: Internal Server Error
          content: {}
        '502':
          description: Bad gateway
          content: {}
        '503':
          description: Scheduled Maintenance
          content: {}
        '504':
          description: Gateway Timeout
          content: {}
        '596':
          description: Service Not Found
          content: {}
      x-codegen-request-body-name: NISrvRequestCardActivation
  /V2/cardservices/CardStatusChange:
    post:
      tags:
        - CardStatusChange
      summary: CardStatusChange
      description: CardStatusChange
      operationId: post-CardServices-Transaction-V2-CardStatusChange
      requestBody:
        description: Sample Description
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NISrvRequestCardStatusChange'
        required: true
      responses:
        '200':
          description: Sample Description
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NISrvResponseCardStatusChange'
        '400':
          description: Bad Request
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '500':
          description: Internal Server Error
          content: {}
        '502':
          description: Bad gateway
          content: {}
        '503':
          description: Scheduled Maintenance
          content: {}
        '504':
          description: Gateway Timeout
          content: {}
        '596':
          description: Service Not Found
          content: {}
      x-codegen-request-body-name: NISrvRequestCardStatusChange
  /V2/cardservices/CardReplacement:
    post:
      tags:
        - CardReplacement
      summary: CardReplacement
      description: CardReplacement
      operationId: post-CardServices-Transaction-V2-CardReplacement
      requestBody:
        description: Sample Description
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NISrvRequestCardReplacement'
        required: true
      responses:
        '200':
          description: Sample Description
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NISrvResponseCardReplacement'
        '400':
          description: Bad Request
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '500':
          description: Internal Server Error
          content: {}
        '502':
          description: Bad gateway
          content: {}
        '503':
          description: Scheduled Maintenance
          content: {}
        '504':
          description: Gateway Timeout
          content: {}
        '596':
          description: Service Not Found
          content: {}
      x-codegen-request-body-name: NISrvRequestCardReplacement
  /V2/cardservices/PinTriesCounterReset:
    post:
      tags:
        - PinTriesCounterReset
      summary: PinTriesCounterReset
      description: PinTriesCounterReset
      operationId: post-CardServices-Transaction-V2-PinTriesCounterReset
      requestBody:
        description: Sample Description
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NISrvRequestPinTriesCounterReset'
        required: true
      responses:
        '200':
          description: Sample Description
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NISrvResponsePinTriesCounterReset'
        '400':
          description: Bad Request
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '500':
          description: Internal Server Error
          content: {}
        '502':
          description: Bad gateway
          content: {}
        '503':
          description: Scheduled Maintenance
          content: {}
        '504':
          description: Gateway Timeout
          content: {}
        '596':
          description: Service Not Found
          content: {}
      x-codegen-request-body-name: NISrvRequestPinTriesCounterReset
  /V2/cardservices/CardSetPin:
    post:
      tags:
        - CardSetPin
      summary: CardSetPin
      description: CardSetPin
      operationId: post-CardServices-Transaction-V2-CardSetPin
      requestBody:
        description: Sample Description
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NISrvRequestCardSetPin'
        required: true
      responses:
        '200':
          description: Sample Description
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NISrvResponseCardSetPin'
        '400':
          description: Bad Request
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '500':
          description: Internal Server Error
          content: {}
        '502':
          description: Bad gateway
          content: {}
        '503':
          description: Scheduled Maintenance
          content: {}
        '504':
          description: Gateway Timeout
          content: {}
        '596':
          description: Service Not Found
          content: {}
      x-codegen-request-body-name: NISrvRequestCardSetPin
  /V2/cardservices/LookupCardIdentifier:
    post:
      tags:
        - LookupCardIdentifier
      summary: LookupCardIdentifier
      description: LookupCardIdentifier
      operationId: post-CardServices-Transaction-V2-CardDetailsEnquiry
      requestBody:
        description: Sample Description
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NISrvRequestLookupCardIdentifier'
        required: true
      responses:
        '200':
          description: Sample Description
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NISrvResponseLookupCardIdentifier'
        '400':
          description: Bad Request
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '500':
          description: Internal Server Error
          content: {}
        '502':
          description: Bad gateway
          content: {}
        '503':
          description: Scheduled Maintenance
          content: {}
        '504':
          description: Gateway Timeout
          content: {}
        '596':
          description: Service Not Found
          content: {}
      x-codegen-request-body-name: NISrvRequestLookupCardIdentifier
  /V2/cardservices/GetCardTransactions:
    post:
      tags:
        - GetCardTransactions
      summary: GetCardTransactions
      description: GetCardTransactions
      operationId: post-CardServices-Transaction-V2-GetCardTransactions
      requestBody:
        description: Sample Description
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NISrvRequestGetCardTransactions'
        required: true
      responses:
        '200':
          description: Sample Description
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NISrvResponseGetCardTransactions'
        '400':
          description: Bad Request
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '500':
          description: Internal Server Error
          content: {}
        '502':
          description: Bad gateway
          content: {}
        '503':
          description: Scheduled Maintenance
          content: {}
        '504':
          description: Gateway Timeout
          content: {}
        '596':
          description: Service Not Found
          content: {}
      x-codegen-request-body-name: NISrvRequestGetCardTransactions
  /V2/cardservices/GetListOfCards:
    post:
      tags:
        - GetListOfCards
      summary: GetListOfCards
      description: GetListOfCards
      operationId: post-CardServices-Transaction-V2-GetListOfCards
      requestBody:
        description: Sample Description
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NISrvRequestGetListOfCards'
        required: true
      responses:
        '200':
          description: Sample Description
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NISrvResponseGetListOfCards'
        '400':
          description: Bad Request
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '500':
          description: Internal Server Error
          content: {}
        '502':
          description: Bad gateway
          content: {}
        '503':
          description: Scheduled Maintenance
          content: {}
        '504':
          description: Gateway Timeout
          content: {}
        '596':
          description: Service Not Found
          content: {}
      x-codegen-request-body-name: NISrvRequestGetListOfCards
  /V2/cardservices/GetListOfAccounts:
    post:
      tags:
        - GetListOfAccounts
      summary: GetListOfAccounts
      description: GetListOfAccounts
      operationId: post-CardServices-Transaction-V2-GetListOfAccounts
      requestBody:
        description: Sample Description
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NISrvRequestGetListOfAccounts'
        required: true
      responses:
        '200':
          description: Sample Description
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NISrvResponseGetListOfAccounts'
        '400':
          description: Bad Request
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '500':
          description: Internal Server Error
          content: {}
        '502':
          description: Bad gateway
          content: {}
        '503':
          description: Scheduled Maintenance
          content: {}
        '504':
          description: Gateway Timeout
          content: {}
        '596':
          description: Service Not Found
          content: {}
      x-codegen-request-body-name: NISrvRequestGetListOfAccounts
  /V2/cardservices/CustomerDetails:
    post:
      tags:
        - CustomerDetails
      summary: CustomerDetails
      description: CustomerDetails
      operationId: post-CardServices-Transaction-V2-CustomerDetails
      requestBody:
        description: Sample Description
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NISrvRequestCustomerDetails'
        required: true
      responses:
        '200':
          description: Sample Description
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NISrvResponseCustomerDetails'
        '400':
          description: Bad Request
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '500':
          description: Internal Server Error
          content: {}
        '502':
          description: Bad gateway
          content: {}
        '503':
          description: Scheduled Maintenance
          content: {}
        '504':
          description: Gateway Timeout
          content: {}
        '596':
          description: Service Not Found
          content: {}
      x-codegen-request-body-name: NISrvRequestCustomerDetails
  /V2/cardservices/LoanOnCallQuickCash:
    post:
      tags:
        - LoanOnCallQuickCash
      summary: postLoanOnCallQuickCash
      description: postLoanOnCallQuickCash
      operationId: post-CardServices-Transaction-V2-LoanOnCallQuickCash
      requestBody:
        description: Sample Description
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NISrvRequestLoanonCallQuickCash'
        required: true
      responses:
        '200':
          description: Sample Description
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NISrvRequestLoanonCallQuickCash'
        '400':
          description: Bad Request
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '500':
          description: Internal Server Error
          content: {}
        '502':
          description: Bad gateway
          content: {}
        '503':
          description: Scheduled Maintenance
          content: {}
        '504':
          description: Gateway Timeout
          content: {}
        '596':
          description: Service Not Found
          content: {}
      x-codegen-request-body-name: NISrvRequestLoanonCallQuickCash
  /V2/cardservices/ListOfAccounts:
    post:
      tags:
        - ListOfAccounts
      summary: postListOfAccounts
      description: postListOfAccounts
      operationId: post-cardservices-enquiry-v2-listofaccounts
      requestBody:
        description: Sample Description
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NISrvRequestAccountList'
        required: true
      responses:
        '200':
          description: Sample Description
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NISrvResponseAccountList'
        '400':
          description: Bad Request
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '500':
          description: Internal Server Error
          content: {}
        '502':
          description: Bad gateway
          content: {}
        '503':
          description: Scheduled Maintenance
          content: {}
        '504':
          description: Gateway Timeout
          content: {}
        '596':
          description: Service Not Found
          content: {}
      x-codegen-request-body-name: NISrvRequestAccountList
  /V2/cardservices/CardLimitChange:
    post:
      tags:
        - CardLimitChange
      summary: postCardLimitChange
      description: postCardLimitChange
      operationId: post-CardServices-Transaction-V2-CardLimitChange
      requestBody:
        description: Sample Description
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NISrvRequestCardLimitChange'
        required: true
      responses:
        '200':
          description: Sample Description
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NISrvResponseCardLimitChange'
        '400':
          description: Bad Request
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '500':
          description: Internal Server Error
          content: {}
        '502':
          description: Bad gateway
          content: {}
        '503':
          description: Scheduled Maintenance
          content: {}
        '504':
          description: Gateway Timeout
          content: {}
        '596':
          description: Service Not Found
          content: {}
      x-codegen-request-body-name: NISrvRequestCardLimitChange
  /V2/cardservices/CardPinVerification:
    post:
      tags:
        - CardPinVerification
      summary: postCardPinVerification
      description: postCardPinVerification
      operationId: post-cardservices-enquiry-v2-cardpinverification
      requestBody:
        description: Sample Description
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NISrvRequestPinVerification'
        required: true
      responses:
        '200':
          description: Sample Description
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NISrvResponsePinVerification'
        '400':
          description: Bad Request
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '500':
          description: Internal Server Error
          content: {}
        '502':
          description: Bad gateway
          content: {}
        '503':
          description: Scheduled Maintenance
          content: {}
        '504':
          description: Gateway Timeout
          content: {}
        '596':
          description: Service Not Found
          content: {}
      x-codegen-request-body-name: NISrvRequestPinVerification
  /V2/cardservices/CardPinChange:
    post:
      tags:
        - CardPinChange
      summary: postCardPinChange
      description: postCardPinChange
      operationId: post-CardServices-Transaction-V2-CardPinChange
      requestBody:
        description: Sample Description
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NISrvRequestCardPinChange'
        required: true
      responses:
        '200':
          description: Sample Description
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NISrvResponseCardPinChange'
        '400':
          description: Bad Request
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '500':
          description: Internal Server Error
          content: {}
        '502':
          description: Bad gateway
          content: {}
        '503':
          description: Scheduled Maintenance
          content: {}
        '504':
          description: Gateway Timeout
          content: {}
        '596':
          description: Service Not Found
          content: {}
      x-codegen-request-body-name: NISrvRequestCardPinChange
  /V2/cardservices/BalanceTransfer:
    post:
      tags:
        - BalanceTransfer
      summary: postBalanceTransfer
      description: postBalanceTransfer
      operationId: post-CardServices-Transaction-V2-BalanceTransfer
      requestBody:
        description: Sample Description
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NISrvRequestBalanceTransfer'
        required: true
      responses:
        '200':
          description: Sample Description
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NISrvResponseBalanceTransfer'
        '400':
          description: Bad Request
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '500':
          description: Internal Server Error
          content: {}
        '502':
          description: Bad gateway
          content: {}
        '503':
          description: Scheduled Maintenance
          content: {}
        '504':
          description: Gateway Timeout
          content: {}
        '596':
          description: Service Not Found
          content: {}
      x-codegen-request-body-name: NISrvRequestBalanceTransfer
  /V2/cardservices/GetCVV2:
    post:
      tags:
        - GetCVV2
      summary: postGetCVV2
      description: postGetCVV2
      operationId: post-CardServices-Transaction-V2-GetCVV2
      requestBody:
        description: Sample Description
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NISrvRequestGetCVV2'
        required: true
      responses:
        '200':
          description: Sample Description
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NISrvResponseGetCVV2'
        '400':
          description: Bad Request
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '500':
          description: Internal Server Error
          content: {}
        '502':
          description: Bad gateway
          content: {}
        '503':
          description: Scheduled Maintenance
          content: {}
        '504':
          description: Gateway Timeout
          content: {}
        '596':
          description: Service Not Found
          content: {}
      x-codegen-request-body-name: NISrvRequestGetCVV2
  /V2/cardservices/ListOfCards:
    post:
      tags:
        - ListOfCards
      summary: postListOfCards
      description: postListOfCards
      operationId: post-cardservices-enquiry-v2-listofcards
      requestBody:
        description: Sample Description
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NISrvRequestCardList'
        required: true
      responses:
        '200':
          description: Sample Description
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NISrvResponseCardList'
        '400':
          description: Bad Request
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '500':
          description: Internal Server Error
          content: {}
        '502':
          description: Bad gateway
          content: {}
        '503':
          description: Scheduled Maintenance
          content: {}
        '504':
          description: Gateway Timeout
          content: {}
        '596':
          description: Service Not Found
          content: {}
      x-codegen-request-body-name: NISrvRequestCardList
  /V2/cardservices/GetEligiblePlans:
    post:
      tags:
        - GetEligiblePlans
      summary: postGetEligiblePlans
      description: postGetEligiblePlans
      operationId: post-CardServices-Enquiry-V2-GetEligiblePlans
      requestBody:
        description: Sample Description
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NISrvRequestGetEligiblePlans'
        required: true
      responses:
        '200':
          description: Sample Description
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NISrvResponseGetEligiblePlans'
        '400':
          description: Bad Request
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '500':
          description: Internal Server Error
          content: {}
        '502':
          description: Bad gateway
          content: {}
        '503':
          description: Scheduled Maintenance
          content: {}
        '504':
          description: Gateway Timeout
          content: {}
        '596':
          description: Service Not Found
          content: {}
      x-codegen-request-body-name: NISrvRequestGetEligiblePlans
  /V2/cardservices/CardTransaction:
    post:
      tags:
        - CardTransaction
      summary: postCardTransaction
      description: postCardTransaction
      operationId: post-CardServices-Transaction-V2-CardTransaction
      requestBody:
        description: Sample Description
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NISrvRequestCardTransactions'
        required: true
      responses:
        '200':
          description: Sample Description
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NISrvResponseCardTransactions'
        '400':
          description: Bad Request
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '500':
          description: Internal Server Error
          content: {}
        '502':
          description: Bad gateway
          content: {}
        '503':
          description: Scheduled Maintenance
          content: {}
        '504':
          description: Gateway Timeout
          content: {}
        '596':
          description: Service Not Found
          content: {}
      x-codegen-request-body-name: NISrvRequestCardTransactions
  /V2/cardservices/CardBalanceEnquiry:
    post:
      tags:
        - CardBalanceEnquiry
      summary: postCardBalanceEnquiry
      description: postCardBalanceEnquiry
      operationId: post-CardServices-Enquiry-V2-CardBalanceEnquiry
      requestBody:
        description: Sample Description
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NISrvRequestCardBalances'
        required: true
      responses:
        '200':
          description: Sample Description
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NISrvResponseCardBalanceEnquiry'
        '400':
          description: Bad Request
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '500':
          description: Internal Server Error
          content: {}
        '502':
          description: Bad gateway
          content: {}
        '503':
          description: Scheduled Maintenance
          content: {}
        '504':
          description: Gateway Timeout
          content: {}
        '596':
          description: Service Not Found
          content: {}
      x-codegen-request-body-name: NISrvRequestCardBalances
  /V2/cardservices/CardStatementSummary:
    post:
      tags:
        - CardStatementSummary
      summary: postCardStatementSummary
      description: postCardStatementSummary
      operationId: post-cardservices-enquiry-v2-cardstatementsummary
      requestBody:
        description: Sample Description
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NISrvRequestCardStatementSummary'
        required: true
      responses:
        '200':
          description: Sample Description
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NISrvResponseCardStatementSummary'
        '400':
          description: Bad Request
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '500':
          description: Internal Server Error
          content: {}
        '502':
          description: Bad gateway
          content: {}
        '503':
          description: Scheduled Maintenance
          content: {}
        '504':
          description: Gateway Timeout
          content: {}
        '596':
          description: Service Not Found
          content: {}
      x-codegen-request-body-name: NISrvRequestCardStatementSummary
  /V2/cardservices/CardUpdate:
    post:
      tags:
        - CardUpdate
      summary: postCardUpdate
      description: postCardUpdate
      operationId: post-CardServices-Transaction-V2-CardUpdate
      requestBody:
        description: Sample Description
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NISrvRequestCardUpdate'
        required: true
      responses:
        '200':
          description: Sample Description
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NISrvResponseCardUpdate'
        '400':
          description: Bad Request
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '500':
          description: Internal Server Error
          content: {}
        '502':
          description: Bad gateway
          content: {}
        '503':
          description: Scheduled Maintenance
          content: {}
        '504':
          description: Gateway Timeout
          content: {}
        '596':
          description: Service Not Found
          content: {}
      x-codegen-request-body-name: NISrvRequestCardUpdate
  /cardservices/enquiry/v2/getlimits:
    post:
      tags:
        - GetLimitUsageDetails
      summary: postGetLimiteUsageDetails
      description: postGetLimiteUsageDetails
      operationId: post-cardservices-enquiry-v2-getlimits
      requestBody:
        description: Sample Description
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NISrvRequestGetLimitUsageDetails'
        required: true
      responses:
        '200':
          description: Sample Description
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NISrvResponseGetLimitUsageDetails'
        '400':
          description: Bad Request
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '500':
          description: Internal Server Error
          content: {}
        '502':
          description: Bad gateway
          content: {}
        '503':
          description: Scheduled Maintenance
          content: {}
        '504':
          description: Gateway Timeout
          content: {}
        '596':
          description: Service Not Found
          content: {}
      x-codegen-request-body-name: NISrvRequestGetLimitUsageDetails
  /cardservices/transaction/v2/updatelimits:
    post:
      tags:
        - UpdateLimitUsageDetails
      summary: postUpdateLimiteUsageDetails
      description: postUpdateLimiteUsageDetails
      operationId: post-cardservices-enquiry-v2-updatelimits
      requestBody:
        description: Sample Description
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NISrvRequestUpdateLimitUsageDetails'
        required: true
      responses:
        '200':
          description: Sample Description
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NISrvResponseUpdateLimitUsageDetails'
        '400':
          description: Bad Request
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '500':
          description: Internal Server Error
          content: {}
        '502':
          description: Bad gateway
          content: {}
        '503':
          description: Scheduled Maintenance
          content: {}
        '504':
          description: Gateway Timeout
          content: {}
        '596':
          description: Service Not Found
          content: {}
      x-codegen-request-body-name: NISrvRequestGetLimitUsageDetails
  /cardservices/transaction/v2/SwitchRestrictions:
    post:
      tags:
        - SwitchRestrictions
      summary: SwitchRestrictions
      description: SwitchRestrictions
      operationId: post-cardservices-enquiry-v2-SwitchRestrictions
      requestBody:
        description: Sample Description
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NISrvRequestSwitchRestrictionsUsageDetails'
        required: true
      responses:
        '200':
          description: Sample Description
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/NISrvResponseSwitchRestrictionsUsageDetails
        '400':
          description: Bad Request
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '500':
          description: Internal Server Error
          content: {}
        '502':
          description: Bad gateway
          content: {}
        '503':
          description: Scheduled Maintenance
          content: {}
        '504':
          description: Gateway Timeout
          content: {}
        '596':
          description: Service Not Found
          content: {}
      x-codegen-request-body-name: NISrvRequestGetLimitUsageDetails
  /cardservices/enquiry/v2/GetRestrictions:
    post:
      tags:
        - GetRestrictions
      summary: GetRestrictions
      description: GetRestrictions
      operationId: post-cardservices-enquiry-v2-GetRestrictions
      requestBody:
        description: Sample Description
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NISrvRequestGetRestrictions'
        required: true
      responses:
        '200':
          description: Sample Description
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NISrvResponseGetRestrictions'
        '400':
          description: Bad Request
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '500':
          description: Internal Server Error
          content: {}
        '502':
          description: Bad gateway
          content: {}
        '503':
          description: Scheduled Maintenance
          content: {}
        '504':
          description: Gateway Timeout
          content: {}
        '596':
          description: Service Not Found
          content: {}
      x-codegen-request-body-name: NISrvRequestGetLimitUsageDetails
  /V2/cardservices/GetPlanList:
    post:
      tags:
        - GetPlanList
      summary: postGetPlanList
      description: postGetPlanList
      operationId: post-CardServices-Enquiry-V2-GetPlanList
      requestBody:
        description: Sample Description
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NISrvRequestGetPlanList'
        required: true
      responses:
        '200':
          description: Sample Description
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NISrvResponseGetPlanList'
        '400':
          description: Bad Request
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '500':
          description: Internal Server Error
          content: {}
        '502':
          description: Bad gateway
          content: {}
        '503':
          description: Scheduled Maintenance
          content: {}
        '504':
          description: Gateway Timeout
          content: {}
        '596':
          description: Service Not Found
          content: {}
      x-codegen-request-body-name: NISrvRequestGetPlanList
  /V2/cardservices/RefinanceTransaction:
    post:
      tags:
        - RefinanceTransaction
      summary: postRefinanceTransaction
      description: postRefinanceTransaction
      operationId: post-CardServices-Transaction-V2-RefinanceTransaction
      requestBody:
        description: Sample Description
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NISrvRequestRefinanceTransaction'
        required: true
      responses:
        '200':
          description: Sample Description
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NISrvResponseRefinanceTransaction'
        '400':
          description: Bad Request
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '500':
          description: Internal Server Error
          content: {}
        '502':
          description: Bad gateway
          content: {}
        '503':
          description: Scheduled Maintenance
          content: {}
        '504':
          description: Gateway Timeout
          content: {}
        '596':
          description: Service Not Found
          content: {}
      x-codegen-request-body-name: NISrvRequestRefinanceTransaction
  /V2/cardservices/CardDetailsEnquiry:
    post:
      tags:
        - CardDetailsEnquiry
      summary: CardDetailsEnquiry
      description: CardDetailsEnquiry
      operationId: post-CardServices-Transaction-V2-LookupCardIdentifier
      requestBody:
        description: Sample Description
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NISrvRequestCardDetailsEnquiry'
        required: true
      responses:
        '200':
          description: Sample Description
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NISrvResponseCardDetails'
        '400':
          description: Bad Request
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '500':
          description: Internal Server Error
          content: {}
        '502':
          description: Bad gateway
          content: {}
        '503':
          description: Scheduled Maintenance
          content: {}
        '504':
          description: Gateway Timeout
          content: {}
        '596':
          description: Service Not Found
          content: {}
      x-codegen-request-body-name: NISrvResponseCardDetails
  /V2/cardservices/CardContactDetails:
    post:
      tags:
        - CardContactDetails
      summary: CardContactDetails
      description: CardContactDetails
      operationId: post-CardServices-Enquiry-V2-CardContactDetails
      requestBody:
        description: Sample Description
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NISrvRequestCardContactDetails'
        required: true
      responses:
        '200':
          description: Sample Description
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NISrvResponseCardContactDetails'
        '400':
          description: Bad Request
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '500':
          description: Internal Server Error
          content: {}
        '502':
          description: Bad gateway
          content: {}
        '503':
          description: Scheduled Maintenance
          content: {}
        '504':
          description: Gateway Timeout
          content: {}
        '596':
          description: Service Not Found
          content: {}
      x-codegen-request-body-name: NISrvResponseCardContactDetails
  /V2/cardservices/GetTariffDetails:
    post:
      tags:
        - GetTariffDetails
      summary: GetTariffDetails
      description: GetTariffDetails
      operationId: post-CardServices-Enquiry-V2-GetTariffDetails
      requestBody:
        description: Sample Description
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NISrvRequestTariffDetails'
        required: true
      responses:
        '200':
          description: Sample Description
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NISrvResponseTariffDetails'
        '400':
          description: Bad Request
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '500':
          description: Internal Server Error
          content: {}
        '502':
          description: Bad gateway
          content: {}
        '503':
          description: Scheduled Maintenance
          content: {}
        '504':
          description: Gateway Timeout
          content: {}
        '596':
          description: Service Not Found
          content: {}
      x-codegen-request-body-name: NISrvResponseTariffDetails
  /V2/accountservices/AccountHierarchyEnquiry:
    post:
      tags:
        - AccountHierarchyEnquiry
      summary: AccountHierarchyEnquiry
      description: AccountHierarchyEnquiry
      operationId: post-AccountServices-Enquiry-V2-AccountHierarchyEnquiry
      requestBody:
        description: Sample Description
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NISrvRequestAccountHierarchyEnquiry'
        required: true
      responses:
        '200':
          description: Sample Description
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NISrvResponseAccountHierarchyEnquiry'
        '400':
          description: Bad Request
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '500':
          description: Internal Server Error
          content: {}
        '502':
          description: Bad gateway
          content: {}
        '503':
          description: Scheduled Maintenance
          content: {}
        '504':
          description: Gateway Timeout
          content: {}
        '596':
          description: Service Not Found
          content: {}
      x-codegen-request-body-name: NISrvResponseAccountHierarchyEnquiry
security:
  - OAuth2: []
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api-sandbox.network.global/token/enbd/v1
          scopes:
            read: Grants read access
            write: Grants write access
  schemas:
    NISrvRequestLoanonCallQuickCash:
      required:
        - currency
        - amount
        - description
        - transaction_ref_number
        - plan_number
        - override_options
      type: object
      properties:
        currency:
          type: string
          example: AED
        amount:
          type: string
          example: '3000.00'
        description:
          type: string
          example: Loan On Cash 270620221110
        transaction_ref_number:
          type: string
          example: '11100521'
        plan_number:
          type: string
          example: '00166'
        override_options:
          type: object
          properties:
            number_of_portions:
              type: string
              example: ''
            interest_rate:
              type: string
              example: '10'
            fee_waive:
              type: string
              example: 'N'
            ad-hoc_fee_type:
              type: string
              example: F
            ad-hoc_fee:
              type: string
              example: '20'
            grace_period:
              type: string
              example: '1'
            free_period_number:
              type: string
              example: '1'
            portion_amount:
              type: string
              example: '40000'
            allocate_interest_amount:
              type: string
              example: '1000'
    NISrvRequestAccountList:
      required:
        - NISrvRequest
      type: object
      properties:
        NISrvRequest:
          $ref: '#/components/schemas/AccountListReq'
    NISrvResponseAccountList:
      required:
        - NISrvResponse
      type: object
      properties:
        NISrvResponse:
          $ref: '#/components/schemas/AccountListRes'
    NISrvRequestCardLimitChange:
      required:
        - NISrvRequest
      type: object
      properties:
        NISrvRequest:
          $ref: '#/components/schemas/CardLimitChangeReq'
    NISrvResponseCardLimitChange:
      required:
        - NISrvResponse
      type: object
      properties:
        NISrvResponse:
          $ref: '#/components/schemas/CardLimitChangeRes'
    NISrvRequestPinVerification:
      required:
        - NISrvRequest
      type: object
      properties:
        NISrvRequest:
          $ref: '#/components/schemas/CardPinVerifcationReq'
    NISrvResponsePinVerification:
      required:
        - NISrvResponse
      type: object
      properties:
        NISrvResponse:
          $ref: '#/components/schemas/CardPinVerifcationRes'
    NISrvRequestCardPinChange:
      required:
        - NISrvRequest
      type: object
      properties:
        NISrvRequest:
          $ref: '#/components/schemas/CardPinChangeReq'
    NISrvResponseCardPinChange:
      required:
        - NISrvResponse
      type: object
      properties:
        NISrvResponse:
          $ref: '#/components/schemas/CardPinChangeRes'
    NISrvRequestGetCVV2:
      required:
        - NISrvRequest
      type: object
      properties:
        NISrvRequest:
          $ref: '#/components/schemas/GetCVV2Req'
    NISrvResponseGetCVV2:
      required:
        - NISrvResponse
      type: object
      properties:
        NISrvResponse:
          $ref: '#/components/schemas/GetCVV2Res'
    NISrvRequestGetEligiblePlans:
      required:
        - NISrvRequest
      type: object
      properties:
        NISrvRequest:
          $ref: '#/components/schemas/GetEligiblePlansReq'
    NISrvResponseGetEligiblePlans:
      required:
        - NISrvResponse
      type: object
      properties:
        NISrvResponse:
          $ref: '#/components/schemas/GetEligiblePlansRes'
    NISrvRequestCardTransactions:
      required:
        - NISrvRequest
      type: object
      properties:
        NISrvRequest:
          $ref: '#/components/schemas/CardTransactionsReq'
    NISrvResponseCardTransactions:
      required:
        - NISrvResponse
      type: object
      properties:
        NISrvResponse:
          $ref: '#/components/schemas/CardTransactionsRes'
    NISrvRequestCardBalances:
      required:
        - NISrvRequest
      type: object
      properties:
        NISrvRequest:
          $ref: '#/components/schemas/CardBalancesReq'
    NISrvResponseCardBalanceEnquiry:
      required:
        - NISrvResponse
      type: object
      properties:
        NISrvResponse:
          $ref: '#/components/schemas/CardbalanceEnquiryRes'
    NISrvRequestCardStatementSummary:
      required:
        - NISrvRequest
      type: object
      properties:
        NISrvRequest:
          $ref: '#/components/schemas/CardStatementSummaryReq'
    NISrvResponseCardStatementSummary:
      required:
        - NISrvResponse
      type: object
      properties:
        NISrvResponse:
          $ref: '#/components/schemas/CardStatementSummaryRes'
    NISrvRequestGetLimitUsageDetails:
      required:
        - NISrvRequest
      type: object
      properties:
        NISrvRequest:
          $ref: '#/components/schemas/GetLimitUsageDetailsReq'
    NISrvResponseGetLimitUsageDetails:
      required:
        - NISrvResponse
      type: object
      properties:
        NISrvResponse:
          $ref: '#/components/schemas/GetLimitUsageDetailsRes'
    NISrvRequestCardUpdate:
      required:
        - NISrvRequest
      type: object
      properties:
        NISrvRequest:
          $ref: '#/components/schemas/CardUpdateReq'
    NISrvResponseCardUpdate:
      required:
        - NISrvResponse
      type: object
      properties:
        NISrvResponse:
          $ref: '#/components/schemas/CardUpdateRes'
    NISrvRequestGetRestrictions:
      required:
        - NISrvRequest
      type: object
      properties:
        NISrvRequest:
          $ref: '#/components/schemas/GetRestrictionsReq'
    NISrvResponseGetRestrictions:
      required:
        - NISrvResponse
      type: object
      properties:
        NISrvResponse:
          $ref: '#/components/schemas/GetRestrictionsRes'
    NISrvRequestSwitchRestrictionsUsageDetails:
      required:
        - NISrvRequest
      type: object
      properties:
        NISrvRequest:
          $ref: '#/components/schemas/SwitchRestrictionsUsageDetailsReq'
    NISrvResponseSwitchRestrictionsUsageDetails:
      required:
        - NISrvResponse
      type: object
      properties:
        NISrvResponse:
          $ref: '#/components/schemas/SwitchRestrictionsUsageDetailsRes'
    NISrvRequestRefinanceTransaction:
      required:
        - NISrvRequest
      type: object
      properties:
        NISrvRequest:
          $ref: '#/components/schemas/RefinanceTransactionReq'
    NISrvResponseRefinanceTransaction:
      required:
        - NISrvResponse
      type: object
      properties:
        NISrvResponse:
          $ref: '#/components/schemas/RefinanceTransactionRes'
    NISrvRequestGetPlanList:
      required:
        - NISrvRequest
      type: object
      properties:
        NISrvRequest:
          $ref: '#/components/schemas/GetPlanListReq'
    NISrvResponseGetPlanList:
      required:
        - NISrvResponse
      type: object
      properties:
        NISrvResponse:
          $ref: '#/components/schemas/GetPlanListRes'
    NISrvRequestCardCreate:
      required:
        - NISrvRequest
      type: object
      properties:
        NISrvRequest:
          $ref: '#/components/schemas/CardCreateReq'
    NISrvResponseCardCreate:
      required:
        - NISrvResponse
      type: object
      properties:
        NISrvResponse:
          $ref: '#/components/schemas/CardCreateRes'
    NISrvRequestClientUpdate:
      required:
        - NISrvRequest
      type: object
      properties:
        NISrvRequest:
          $ref: '#/components/schemas/ClientUpdateReq'
    NISrvResponseClientUpdate:
      required:
        - NISrvResponse
      type: object
      properties:
        NISrvResponse:
          $ref: '#/components/schemas/ClientUpdateRes'
    NISrvRequestCardActivation:
      required:
        - NISrvRequest
      type: object
      properties:
        NISrvRequest:
          $ref: '#/components/schemas/CardActivationReq'
    NISrvResponseCardActivation:
      required:
        - NISrvResponse
      type: object
      properties:
        NISrvResponse:
          $ref: '#/components/schemas/CardActivationRes'
    NISrvRequestAccountUpdate:
      required:
        - NISrvRequest
      type: object
      properties:
        NISrvRequest:
          $ref: '#/components/schemas/AccountUpdateReq'
    NISrvResponseAccountUpdate:
      required:
        - NISrvResponse
      type: object
      properties:
        NISrvResponse:
          $ref: '#/components/schemas/AccountUpdateRes'
    NISrvRequestLookupCardIdentifier:
      required:
        - NISrvRequest
      type: object
      properties:
        NISrvRequest:
          $ref: '#/components/schemas/lookupcardidentifierReq'
    NISrvResponseLookupCardIdentifier:
      required:
        - NISrvResponse
      type: object
      properties:
        NISrvResponse:
          $ref: '#/components/schemas/lookupcardidentifierRes'
    NISrvRequestPinTriesCounterReset:
      required:
        - NISrvRequest
      type: object
      properties:
        NISrvRequest:
          $ref: '#/components/schemas/PinTriesCounterResetReq'
    NISrvResponsePinTriesCounterReset:
      required:
        - NISrvResponse
      type: object
      properties:
        NISrvResponse:
          $ref: '#/components/schemas/PinTriesCounterResetRes'
    NISrvRequestCardReplacement:
      required:
        - NISrvRequest
      type: object
      properties:
        NISrvRequest:
          $ref: '#/components/schemas/CardReplacementReq'
    NISrvResponseCardReplacement:
      required:
        - NISrvResponse
      type: object
      properties:
        NISrvResponse:
          $ref: '#/components/schemas/CardReplacementRes'
    NISrvRequestGetCardTransactions:
      required:
        - NISrvRequest
      type: object
      properties:
        NISrvRequest:
          $ref: '#/components/schemas/GetCardTransactionsReq'
    NISrvResponseGetCardTransactions:
      required:
        - NISrvResponse
      type: object
      properties:
        NISrvResponse:
          $ref: '#/components/schemas/GetCardTransactionsRes'
    NISrvRequestGetListOfAccounts:
      required:
        - NISrvRequest
      type: object
      properties:
        NISrvRequest:
          $ref: '#/components/schemas/GetListOfAccountsReq'
    NISrvResponseGetListOfAccounts:
      required:
        - NISrvResponse
      type: object
      properties:
        NISrvResponse:
          $ref: '#/components/schemas/GetListOfAccountsRes'
    NISrvRequestCardStatusChange:
      required:
        - NISrvRequest
      type: object
      properties:
        NISrvRequest:
          $ref: '#/components/schemas/CardStatusChangeReq'
    NISrvResponseCardStatusChange:
      required:
        - NISrvResponse
      type: object
      properties:
        NISrvResponse:
          $ref: '#/components/schemas/CardStatusChangeRes'
    NISrvRequestCardDetailsEnquiry:
      required:
        - NISrvRequest
      type: object
      properties:
        NISrvRequest:
          $ref: '#/components/schemas/CardDetailsEnquiryReq'
    NISrvResponseCardDetailsEnquiry:
      required:
        - NISrvResponse
      type: object
      properties:
        NISrvResponse:
          $ref: '#/components/schemas/CardDetailsEnquiryRes'
    NISrvRequestCustomerDetails:
      required:
        - NISrvRequest
      type: object
      properties:
        NISrvRequest:
          $ref: '#/components/schemas/CustomerDetailsReq'
    NISrvResponseCustomerDetails:
      required:
        - NISrvResponse
      type: object
      properties:
        NISrvResponse:
          $ref: '#/components/schemas/CustomerDetailsRes'
    NISrvRequestGetListOfCards:
      required:
        - NISrvRequest
      type: object
      properties:
        NISrvRequest:
          $ref: '#/components/schemas/GetListOfCardsReq'
    NISrvResponseGetListOfCards:
      required:
        - NISrvResponse
      type: object
      properties:
        NISrvResponse:
          $ref: '#/components/schemas/GetListOfCardsRes'
    NISrvRequestBalanceTransfer:
      required:
        - NISrvResponse
      type: object
      properties:
        NISrvResponse:
          $ref: '#/components/schemas/BalanceTrasferReq'
    NISrvResponseBalanceTransfer:
      required:
        - NISrvResponse
      type: object
      properties:
        NISrvResponse:
          $ref: '#/components/schemas/BalanceTrasferRes'
    NISrvRequestCardList:
      required:
        - NISrvRequest
      type: object
      properties:
        NISrvRequest:
          $ref: '#/components/schemas/CardListReq'
    NISrvResponseCardList:
      required:
        - NISrvResponse
      type: object
      properties:
        NISrvResponse:
          $ref: '#/components/schemas/CardListRes'
    NISrvRequestUpdateLimitUsageDetails:
      required:
        - NISrvRequest
      type: object
      properties:
        NISrvRequest:
          $ref: '#/components/schemas/UpdateLimitUsageDetailsReq'
    NISrvResponseUpdateLimitUsageDetails:
      required:
        - NISrvResponse
      type: object
      properties:
        NISrvResponse:
          $ref: '#/components/schemas/UpdateLimitUsageDetailsRes'
    NISrvRequestAccountCreate:
      required:
        - NISrvRequest
      type: object
      properties:
        NISrvRequest:
          $ref: '#/components/schemas/AccountCreateReq'
    NISrvResponseAccountCreate:
      required:
        - NISrvResponse
      type: object
      properties:
        NISrvResponse:
          $ref: '#/components/schemas/AccountCreateRes'
    NISrvRequestClientCreate:
      required:
        - NISrvRequest
      type: object
      properties:
        NISrvRequest:
          $ref: '#/components/schemas/ClientCreateReq'
    NISrvResponseClientCreate:
      required:
        - NISrvResponse
      type: object
      properties:
        NISrvResponse:
          $ref: '#/components/schemas/ClientCreateRes'
    NISrvResponseCardDetails:
      required:
        - NISrvResponse
      type: object
      properties:
        NISrvResponse:
          $ref: '#/components/schemas/CardDetailsRes'
    NISrvRequestCardSetPin:
      required:
        - NISrvRequest
      type: object
      properties:
        NISrvRequest:
          $ref: '#/components/schemas/CardSetPinReq'
    NISrvResponseCardSetPin:
      required:
        - NISrvResponse
      type: object
      properties:
        NISrvResponse:
          $ref: '#/components/schemas/CardSetPinRes'
    NISrvRequestTariffDetails:
      required:
        - NISrvRequest
      type: object
      properties:
        NISrvRequest:
          $ref: '#/components/schemas/TariffDetailsReq'
    NISrvResponseTariffDetails:
      required:
        - NISrvResponse
      type: object
      properties:
        NISrvResponse:
          $ref: '#/components/schemas/TariffDetailsRes'
    NISrvRequestAccountHierarchyEnquiry:
      required:
        - NISrvRequest
      type: object
      properties:
        NISrvRequest:
          $ref: '#/components/schemas/AccountHierarchyEnquiryReq'
    NISrvResponseAccountHierarchyEnquiry:
      required:
        - NISrvResponse
      type: object
      properties:
        NISrvResponse:
          $ref: '#/components/schemas/AccountHierarchyEnquiryRes'
    AccountHierarchyEnquiryReq:
      required:
        - request_account_hierarchy
      type: object
      properties:
        request_account_hierarchy:
          $ref: '#/components/schemas/request_account_hierarchy'
    AccountHierarchyEnquiryRes:
      required:
        - response_account_hierarchy
      type: object
      properties:
        response_account_hierarchy:
          $ref: '#/components/schemas/response_account_hierarchy'
    request_account_hierarchy:
      required:
        - header
      type: object
      properties:
        header:
          $ref: '#/components/schemas/AccountHierarchyEnquiryHeader'
        body:
          $ref: '#/components/schemas/AccountHierarchyEnquiryBody'
    response_account_hierarchy:
      required:
        - exception_details
        - header
      type: object
      properties:
        header:
          $ref: '#/components/schemas/AccountHierarchyEnquiryResHeader'
        exception_details:
          $ref: '#/components/schemas/exception_details'
        body:
          $ref: '#/components/schemas/AccountHierarchyEnquiryResBody'
    TariffDetailsReq:
      required:
        - request_tariff_details
      type: object
      properties:
        request_tariff_details:
          $ref: '#/components/schemas/request_tariff_details'
    TariffDetailsRes:
      required:
        - response_tariff_details
      type: object
      properties:
        response_tariff_details:
          $ref: '#/components/schemas/response_tariff_details'
    request_tariff_details:
      required:
        - header
      type: object
      properties:
        header:
          $ref: '#/components/schemas/GetTariffDetailsHeader'
        body:
          $ref: '#/components/schemas/GetTariffDetailsBody'
    response_tariff_details:
      required:
        - exception_details
        - header
      type: object
      properties:
        header:
          $ref: '#/components/schemas/GetTariffDetailsResHeader'
        exception_details:
          $ref: '#/components/schemas/exception_details'
        body:
          $ref: '#/components/schemas/GetTariffDetailsResBody'
    ClientCreateReq:
      required:
        - request_client_create
      type: object
      properties:
        request_client_create:
          $ref: '#/components/schemas/request_client_create'
    ClientCreateRes:
      required:
        - response_client_create
      type: object
      properties:
        response_client_create:
          $ref: '#/components/schemas/response_client_create'
    ClientUpdateReq:
      required:
        - request_client_update
      type: object
      properties:
        request_client_update:
          $ref: '#/components/schemas/request_client_update'
    ClientUpdateRes:
      required:
        - response_client_update
      type: object
      properties:
        response_client_update:
          $ref: '#/components/schemas/response_client_update'
    AccountCreateReq:
      required:
        - request_account_create
      type: object
      properties:
        request_account_create:
          $ref: '#/components/schemas/request_account_create'
    AccountCreateRes:
      required:
        - response_account_create
      type: object
      properties:
        response_account_create:
          $ref: '#/components/schemas/response_account_create'
    AccountUpdateReq:
      required:
        - request_account_update
      type: object
      properties:
        request_account_update:
          $ref: '#/components/schemas/request_account_update'
    AccountUpdateRes:
      required:
        - response_account_update
      type: object
      properties:
        response_account_update:
          $ref: '#/components/schemas/response_account_update'
    AccountListReq:
      required:
        - request_list_of_accounts
      type: object
      properties:
        request_list_of_accounts:
          $ref: '#/components/schemas/request_list_of_accounts'
    AccountListRes:
      required:
        - response_list_of_accounts
      type: object
      properties:
        response_list_of_accounts:
          $ref: '#/components/schemas/response_list_of_accounts'
    CardCreateReq:
      required:
        - request_card_create
      type: object
      properties:
        request_card_create:
          $ref: '#/components/schemas/request_card_create'
    CardCreateRes:
      required:
        - response_card_create
      type: object
      properties:
        response_card_create:
          $ref: '#/components/schemas/response_card_create'
    CardUpdateReq:
      required:
        - request_card_update
      type: object
      properties:
        request_card_update:
          $ref: '#/components/schemas/request_card_update'
    CardUpdateRes:
      required:
        - response_card_update
      type: object
      properties:
        response_card_update:
          $ref: '#/components/schemas/response_card_update'
    CardReplacementReq:
      required:
        - request_card_replacement
      type: object
      properties:
        request_card_replacement:
          $ref: '#/components/schemas/request_card_replacement'
    CardReplacementRes:
      required:
        - response_card_replacement
      type: object
      properties:
        response_card_replacement:
          $ref: '#/components/schemas/response_card_replacement'
    CardListReq:
      required:
        - request_list_of_cards
      type: object
      properties:
        request_list_of_cards:
          $ref: '#/components/schemas/request_list_of_cards'
    CardListRes:
      required:
        - response_list_of_cards
      type: object
      properties:
        response_list_of_cards:
          $ref: '#/components/schemas/response_list_of_cards'
    GetCVV2Req:
      required:
        - request_get_cvv2
      type: object
      properties:
        request_get_cvv2:
          $ref: '#/components/schemas/request_get_cvv2'
    GetCVV2Res:
      required:
        - response_get_cvv2
      type: object
      properties:
        response_get_cvv2:
          $ref: '#/components/schemas/response_get_cvv2'
    CardActivationReq:
      required:
        - request_card_activation
      type: object
      properties:
        request_card_activation:
          $ref: '#/components/schemas/request_card_activation'
    CardActivationRes:
      required:
        - response_card_activation
      type: object
      properties:
        response_card_activation:
          $ref: '#/components/schemas/response_card_activation'
    CardPinChangeReq:
      required:
        - request_card_pin_change
      type: object
      properties:
        request_card_pin_change:
          $ref: '#/components/schemas/request_card_pin_change'
    CardPinChangeRes:
      required:
        - response_card_pin_change
      type: object
      properties:
        response_card_pin_change:
          $ref: '#/components/schemas/response_card_pin_change'
    CardPinVerifcationReq:
      required:
        - request_card_pin_verification
      type: object
      properties:
        request_card_pin_verification:
          $ref: '#/components/schemas/request_card_pin_verification'
    CardPinVerifcationRes:
      required:
        - response_card_pin_verification
      type: object
      properties:
        response_card_pin_verification:
          $ref: '#/components/schemas/response_card_pin_verification'
    CardSetPinReq:
      required:
        - request_card_set_pin
      type: object
      properties:
        request_card_set_pin:
          $ref: '#/components/schemas/request_card_set_pin'
    CardSetPinRes:
      required:
        - response_card_set_pin
      type: object
      properties:
        response_card_set_pin:
          $ref: '#/components/schemas/response_card_set_pin'
    PinTriesCounterResetReq:
      required:
        - request_pin_counter_reset
      type: object
      properties:
        request_pin_counter_reset:
          $ref: '#/components/schemas/request_pin_counter_reset'
    PinTriesCounterResetRes:
      required:
        - response_pin_counter_reset
      type: object
      properties:
        response_pin_counter_reset:
          $ref: '#/components/schemas/response_pin_counter_reset'
    CardStatusChangeReq:
      required:
        - request_card_status_change
      type: object
      properties:
        request_card_status_change:
          $ref: '#/components/schemas/request_card_status_change'
    CardStatusChangeRes:
      required:
        - response_card_status_change
      type: object
      properties:
        response_card_status_change:
          $ref: '#/components/schemas/response_card_status_change'
    lookupcardidentifierReq:
      required:
        - request_lookup_card_identifier
      type: object
      properties:
        request_lookup_card_identifier:
          $ref: '#/components/schemas/request_lookup_card_identifier'
    lookupcardidentifierRes:
      required:
        - response_lookup_card_identifier
      type: object
      properties:
        response_lookup_card_identifier:
          $ref: '#/components/schemas/response_lookup_card_identifier'
    CardDetailsEnquiryReq:
      required:
        - request_card_details
      type: object
      properties:
        request_card_details:
          $ref: '#/components/schemas/request_card_details'
    CardDetailsEnquiryRes:
      required:
        - request_card_details
      type: object
      properties:
        request_card_details:
          $ref: '#/components/schemas/response_card_details'
    CardDetailsRes:
      required:
        - response_card_details
      type: object
      properties:
        response_card_details:
          $ref: '#/components/schemas/response_card_details'
    CardBalancesReq:
      required:
        - request_card_balance_enquiry
      type: object
      properties:
        request_card_balance_enquiry:
          $ref: '#/components/schemas/request_card_balance_enquiry'
    CardbalanceEnquiryRes:
      required:
        - response_card_balance_enquiry
      type: object
      properties:
        response_card_balance_enquiry:
          $ref: '#/components/schemas/response_card_balance_enquiry'
    CardStatementSummaryReq:
      required:
        - request_card_statement_summary
      type: object
      properties:
        request_card_statement_summary:
          $ref: '#/components/schemas/request_card_statement_summary'
    CardStatementSummaryRes:
      required:
        - response_card_statement_summary
      type: object
      properties:
        response_card_statement_summary:
          $ref: '#/components/schemas/response_card_statement_summary'
    GetCardTransactionsReq:
      required:
        - request_get_card_transactions
      type: object
      properties:
        request_get_card_transactions:
          $ref: '#/components/schemas/request_get_card_transactions'
    GetCardTransactionsRes:
      required:
        - response_get_card_transactions
      type: object
      properties:
        response_get_card_transactions:
          $ref: '#/components/schemas/response_get_card_transactions'
    GetListOfCardsReq:
      required:
        - request_list_of_cards
      type: object
      properties:
        request_list_of_cards:
          $ref: '#/components/schemas/request_list_of_cards'
    GetListOfCardsRes:
      required:
        - response_list_of_cards
      type: object
      properties:
        response_list_of_cards:
          $ref: '#/components/schemas/response_list_of_cards'
    GetListOfAccountsReq:
      required:
        - request_list_of_accounts
      type: object
      properties:
        request_list_of_accounts:
          $ref: '#/components/schemas/request_list_of_accounts'
    GetListOfAccountsRes:
      required:
        - response_list_of_accounts
      type: object
      properties:
        response_list_of_accounts:
          $ref: '#/components/schemas/response_list_of_accounts'
    CustomerDetailsReq:
      required:
        - request_generic_customer_details
      type: object
      properties:
        request_generic_customer_details:
          $ref: '#/components/schemas/request_generic_customer_details'
    CustomerDetailsRes:
      required:
        - response_generic_customer_details
      type: object
      properties:
        response_generic_customer_details:
          $ref: '#/components/schemas/response_generic_customer_details'
    CardTransactionsReq:
      required:
        - request_card_transaction
      type: object
      properties:
        request_card_transaction:
          $ref: '#/components/schemas/request_card_transaction'
    CardTransactionsRes:
      required:
        - response_card_transaction
      type: object
      properties:
        response_card_transaction:
          $ref: '#/components/schemas/response_card_transaction'
    CardLimitChangeReq:
      required:
        - request_card_limit_change
      type: object
      properties:
        request_card_limit_change:
          $ref: '#/components/schemas/request_card_limit_change'
    CardLimitChangeRes:
      required:
        - response_card_limit_change
      type: object
      properties:
        response_card_limit_change:
          $ref: '#/components/schemas/response_card_limit_change'
    BalanceTrasferReq:
      required:
        - request_balance_transfer
      type: object
      properties:
        request_balance_transfer:
          $ref: '#/components/schemas/request_balance_transfer'
    BalanceTrasferRes:
      required:
        - response_balance_transfer
      type: object
      properties:
        response_balance_transfer:
          $ref: '#/components/schemas/response_balance_transfer'
    GetPlanListReq:
      required:
        - request_get_plan_list
      type: object
      properties:
        request_get_plan_list:
          $ref: '#/components/schemas/request_get_plan_list'
    GetPlanListRes:
      required:
        - response_get_plan_list
      type: object
      properties:
        response_get_plan_list:
          $ref: '#/components/schemas/response_get_plan_list'
    GetEligiblePlansReq:
      required:
        - request_get_eligible_plans
      type: object
      properties:
        request_get_eligible_plans:
          $ref: '#/components/schemas/request_get_eligible_plans'
    GetEligiblePlansRes:
      required:
        - response_get_eligible_plans
      type: object
      properties:
        response_get_eligible_plans:
          $ref: '#/components/schemas/response_get_eligible_plans'
    GetLimitUsageDetailsReq:
      required:
        - request_get_limiter_usage_details
      type: object
      properties:
        request_get_limiter_usage_details:
          $ref: '#/components/schemas/request_get_limiter_usage_details'
    GetLimitUsageDetailsRes:
      required:
        - response_get_limiter_usage_details
      type: object
      properties:
        response_get_limiter_usage_details:
          $ref: '#/components/schemas/response_get_limiter_usage_details'
    UpdateUsageLimiterReq:
      required:
        - request_update_usage_limiter
      type: object
      properties:
        request_update_usage_limiter:
          $ref: '#/components/schemas/request_update_usage_limiter'
    UpdateUsageLimiterRes:
      required:
        - response_update_usage_limiter
      type: object
      properties:
        response_update_usage_limiter:
          $ref: '#/components/schemas/response_update_usage_limiter'
    GetRestrictionsReq:
      required:
        - request_get_restriction_usage_details
      type: object
      properties:
        request_get_restriction_usage_details:
          $ref: '#/components/schemas/request_get_restrictions'
    GetRestrictionsRes:
      required:
        - response_get_restriction_usage_details
      type: object
      properties:
        response_get_restriction_usage_details:
          $ref: '#/components/schemas/response_get_restrictions'
    SwitchRestrictionsUsageDetailsReq:
      required:
        - request_enable_disable_restriction
      type: object
      properties:
        request_enable_disable_restriction:
          $ref: '#/components/schemas/request_switch_restrictions_usage_details'
    SwitchRestrictionsUsageDetailsRes:
      required:
        - response_enable_disable_restriction
      type: object
      properties:
        response_enable_disable_restriction:
          $ref: '#/components/schemas/response_switch_restrictions_usage_details'
    RefinanceTransactionReq:
      required:
        - request_refinance_transaction
      type: object
      properties:
        request_refinance_transaction:
          $ref: '#/components/schemas/request_refinance_transaction'
    RefinanceTransactionRes:
      required:
        - response_refinance_transaction
      type: object
      properties:
        response_refinance_transaction:
          $ref: '#/components/schemas/response_refinance_transaction'
    UpdateLimitUsageDetailsReq:
      required:
        - request_update_usage_limiter
      type: object
      properties:
        request_update_usage_limiter:
          $ref: '#/components/schemas/request_update_limiter_usage_details'
    UpdateLimitUsageDetailsRes:
      required:
        - respons_update_usage_limiter
      type: object
      properties:
        respons_update_usage_limiter:
          $ref: '#/components/schemas/response_update_limiter_usage_details'
    request_card_limit_change:
      required:
        - header
      type: object
      properties:
        header:
          $ref: '#/components/schemas/CardLimitChangeHeader'
        body:
          $ref: '#/components/schemas/CardLimitChangeBody'
    response_card_limit_change:
      required:
        - exception_details
        - header
      type: object
      properties:
        header:
          $ref: '#/components/schemas/CardLimitChangeResHeader'
        exception_details:
          $ref: '#/components/schemas/exception_details'
    request_card_pin_verification:
      required:
        - header
      type: object
      properties:
        header:
          $ref: '#/components/schemas/CardPinverficationHeader'
        body:
          $ref: '#/components/schemas/CardPinverficationBody'
    response_card_pin_verification:
      required:
        - exception_details
        - header
      type: object
      properties:
        header:
          $ref: '#/components/schemas/CardPinverficationResHeader'
        exception_details:
          $ref: '#/components/schemas/exception_details'
    request_card_pin_change:
      required:
        - header
      type: object
      properties:
        header:
          $ref: '#/components/schemas/CardPinChangeHeader'
        body:
          $ref: '#/components/schemas/CardPinChangeBody'
    response_card_pin_change:
      required:
        - exception_details
        - header
      type: object
      properties:
        header:
          $ref: '#/components/schemas/CardPinChangeResHeader'
        exception_details:
          $ref: '#/components/schemas/exception_details'
    request_balance_transfer:
      required:
        - header
        - body
      type: object
      properties:
        header:
          $ref: '#/components/schemas/BalanceTransferHeader'
        body:
          $ref: '#/components/schemas/BalanceTransferBody'
    response_balance_transfer:
      required:
        - exception_details
        - header
      type: object
      properties:
        header:
          $ref: '#/components/schemas/BalanceTransferResHeader'
        exception_details:
          $ref: '#/components/schemas/exception_details'
    request_get_cvv2:
      required:
        - header
      type: object
      properties:
        header:
          $ref: '#/components/schemas/getCvv2Header'
        body:
          $ref: '#/components/schemas/getCvv2Body'
    response_get_cvv2:
      required:
        - exception_details
        - header
      type: object
      properties:
        header:
          $ref: '#/components/schemas/getCvv2ResHeader'
        exception_details:
          $ref: '#/components/schemas/exception_details'
        body:
          $ref: '#/components/schemas/getCvv2ResBody'
    request_get_eligible_plans:
      required:
        - header
      type: object
      properties:
        header:
          $ref: '#/components/schemas/GetEligiblePlansHeader'
        body:
          $ref: '#/components/schemas/GetEligiblePlansBody'
    response_get_eligible_plans:
      required:
        - exception_details
        - header
      type: object
      properties:
        header:
          $ref: '#/components/schemas/GetEligiblePlansResHeader'
        exception_details:
          $ref: '#/components/schemas/exception_details'
        body:
          $ref: '#/components/schemas/GetEligiblePlansResBody'
    request_card_transaction:
      required:
        - header
      type: object
      properties:
        header:
          $ref: '#/components/schemas/CardTransactionsHeader'
        body:
          $ref: '#/components/schemas/CardTransactionsBody'
    response_card_transaction:
      required:
        - exception_details
        - header
      type: object
      properties:
        header:
          $ref: '#/components/schemas/CardTransactionsResHeader'
        exception_details:
          $ref: '#/components/schemas/exception_details'
        body:
          $ref: '#/components/schemas/CardTransactionsResBody'
    request_card_balance_enquiry:
      required:
        - header
      type: object
      properties:
        header:
          $ref: '#/components/schemas/CardBalanceHeader'
        body:
          $ref: '#/components/schemas/CardBalanceBody'
    response_card_balance_enquiry:
      required:
        - exception_details
        - header
      type: object
      properties:
        header:
          $ref: '#/components/schemas/CardBalancesResHeader'
        exception_details:
          $ref: '#/components/schemas/exception_details'
        body:
          $ref: '#/components/schemas/CardBalancesResBody'
    request_card_statement_summary:
      required:
        - header
      type: object
      properties:
        header:
          $ref: '#/components/schemas/CardStatementSummaryHeader'
        body:
          $ref: '#/components/schemas/CardStatementSummaryBody'
    response_card_statement_summary:
      required:
        - exception_details
        - header
      type: object
      properties:
        header:
          $ref: '#/components/schemas/CardStatementSummaryResHeader'
        exception_details:
          $ref: '#/components/schemas/exception_details'
        body:
          $ref: '#/components/schemas/CardStatementSummaryResBody'
    request_card_update:
      required:
        - header
      type: object
      properties:
        header:
          $ref: '#/components/schemas/CardUpdateHeader'
        body:
          $ref: '#/components/schemas/CardUpdateBody'
    response_card_update:
      required:
        - exception_details
        - header
      type: object
      properties:
        header:
          $ref: '#/components/schemas/CardUpdateResHeader'
        exception_details:
          $ref: '#/components/schemas/exception_details'
        body:
          $ref: '#/components/schemas/CardUpdateResBody'
    request_get_limiter_usage_details:
      required:
        - header
      type: object
      properties:
        header:
          $ref: '#/components/schemas/GetLimitUsageDetailsHeader'
        body:
          $ref: '#/components/schemas/GetLimitUsageDetailsBody'
    response_get_limiter_usage_details:
      required:
        - exception_details
        - header
      type: object
      properties:
        header:
          $ref: '#/components/schemas/GetLimitUsageDetailsResHeader'
        exception_details:
          $ref: '#/components/schemas/exception_details'
        body:
          $ref: '#/components/schemas/GetLimitUsageDetailsResBody'
    request_update_limiter_usage_details:
      required:
        - header
      type: object
      properties:
        header:
          $ref: '#/components/schemas/UpdateLimitUsageDetailsHeader'
        body:
          $ref: '#/components/schemas/UpdateLimitUsageDetailsBody'
    response_update_limiter_usage_details:
      required:
        - exception_details
        - header
      type: object
      properties:
        header:
          $ref: '#/components/schemas/UpdateLimitUsageDetailsResHeader'
        exception_details:
          $ref: '#/components/schemas/exception_details'
    request_get_restrictions:
      required:
        - header
      type: object
      properties:
        header:
          $ref: '#/components/schemas/GetRestrictionsHeader'
        body:
          $ref: '#/components/schemas/GetRestrictionsBody'
    response_get_restrictions:
      required:
        - exception_details
        - header
      type: object
      properties:
        header:
          $ref: '#/components/schemas/GetRestrictionsResHeader'
        exception_details:
          $ref: '#/components/schemas/exception_details'
        body:
          $ref: '#/components/schemas/GetRestrictionsResBody'
    request_switch_restrictions_usage_details:
      required:
        - header
      type: object
      properties:
        header:
          $ref: '#/components/schemas/SwitchRestrictionsUsageDetailsHeader'
        body:
          $ref: '#/components/schemas/SwitchRestrictionsUsageDetailsBody'
    response_switch_restrictions_usage_details:
      required:
        - exception_details
        - header
      type: object
      properties:
        header:
          $ref: '#/components/schemas/SwitchRestrictionsUsageDetailsResHeader'
        exception_details:
          $ref: '#/components/schemas/exception_details'
    request_lookup_card_identifier:
      required:
        - header
      type: object
      properties:
        header:
          $ref: '#/components/schemas/LookupCardIdentifierHeader'
        body:
          $ref: '#/components/schemas/LookupCardIdentifierBody'
    response_lookup_card_identifier:
      required:
        - exception_details
        - header
      type: object
      properties:
        header:
          $ref: '#/components/schemas/LookupCardIdentifierResHeader'
        exception_details:
          $ref: '#/components/schemas/exception_details'
        body:
          $ref: '#/components/schemas/LookupCardIdentifierResBody'
    request_refinance_transaction:
      required:
        - header
      type: object
      properties:
        header:
          $ref: '#/components/schemas/RefinanceTransactionHeader'
        body:
          $ref: '#/components/schemas/RefinanceTransactionBody'
    response_refinance_transaction:
      required:
        - exception_details
        - header
      type: object
      properties:
        header:
          $ref: '#/components/schemas/RefinanceTransactionResHeader'
        exception_details:
          $ref: '#/components/schemas/exception_details'
    request_card_create:
      required:
        - header
      type: object
      properties:
        header:
          $ref: '#/components/schemas/CardCreateHeader'
        body:
          $ref: '#/components/schemas/CardCreateBody'
    response_card_create:
      required:
        - exception_details
        - header
      type: object
      properties:
        header:
          $ref: '#/components/schemas/CardCreateResHeader'
        exception_details:
          $ref: '#/components/schemas/exception_details'
        body:
          $ref: '#/components/schemas/CardCreateResBody'
    request_account_update:
      required:
        - header
      type: object
      properties:
        header:
          $ref: '#/components/schemas/AccountUpdateHeader'
        body:
          $ref: '#/components/schemas/AccountUpdateBody'
    response_account_update:
      required:
        - exception_details
        - header
      type: object
      properties:
        header:
          $ref: '#/components/schemas/AccountUpdateResHeader'
        exception_details:
          $ref: '#/components/schemas/exception_details'
        body:
          $ref: '#/components/schemas/AccountUpdateResBody'
    request_client_update:
      required:
        - header
      type: object
      properties:
        header:
          $ref: '#/components/schemas/ClientUpdateHeader'
        body:
          $ref: '#/components/schemas/ClientUpdateBody'
    response_client_update:
      required:
        - exception_details
        - header
      type: object
      properties:
        header:
          $ref: '#/components/schemas/ClientUpdateResHeader'
        exception_details:
          $ref: '#/components/schemas/exception_details'
        body:
          $ref: '#/components/schemas/ClientUpdateResBody'
    request_update_usage_limiter:
      required:
        - header
      type: object
      properties:
        header:
          $ref: '#/components/schemas/UpdateUsageLimiterHeader'
        body:
          $ref: '#/components/schemas/UpdateUsageLimiterBody'
    response_update_usage_limiter:
      required:
        - exception_details
        - header
      type: object
      properties:
        header:
          $ref: '#/components/schemas/UpdateUsageLimiterResHeader'
        exception_details:
          $ref: '#/components/schemas/exception_details'
    request_card_activation:
      required:
        - header
      type: object
      properties:
        header:
          $ref: '#/components/schemas/CardActivationHeader'
        body:
          $ref: '#/components/schemas/CardActivationBody'
    response_card_activation:
      required:
        - exception_details
        - header
      type: object
      properties:
        header:
          $ref: '#/components/schemas/CardActivationResHeader'
        exception_details:
          $ref: '#/components/schemas/exception_details'
    request_card_status_change:
      required:
        - header
      type: object
      properties:
        header:
          $ref: '#/components/schemas/CardStatusChangeHeader'
        body:
          $ref: '#/components/schemas/CardStatusChangeBody'
    response_card_status_change:
      required:
        - exception_details
        - header
      type: object
      properties:
        header:
          $ref: '#/components/schemas/CardStatusChangeResHeader'
        exception_details:
          $ref: '#/components/schemas/exception_details'
    request_card_replacement:
      required:
        - header
      type: object
      properties:
        header:
          $ref: '#/components/schemas/CardReplacementHeader'
        body:
          $ref: '#/components/schemas/CardReplacementBody'
    response_card_replacement:
      required:
        - exception_details
        - header
      type: object
      properties:
        header:
          $ref: '#/components/schemas/CardReplacementResHeader'
        exception_details:
          $ref: '#/components/schemas/exception_details'
        body:
          $ref: '#/components/schemas/CardReplacementResBody'
    request_pin_counter_reset:
      required:
        - header
      type: object
      properties:
        header:
          $ref: '#/components/schemas/PinTriesCounterResetHeader'
        body:
          $ref: '#/components/schemas/PinTriesCounterResetBody'
    response_pin_counter_reset:
      required:
        - exception_details
        - header
      type: object
      properties:
        header:
          $ref: '#/components/schemas/PinTriesCounterResetResHeader'
        exception_details:
          $ref: '#/components/schemas/exception_details'
    request_list_of_accounts:
      required:
        - header
      type: object
      properties:
        header:
          $ref: '#/components/schemas/GetListOfAccountsHeader'
        body:
          $ref: '#/components/schemas/GetListOfAccountsBody'
    response_list_of_accounts:
      required:
        - exception_details
        - header
      type: object
      properties:
        header:
          $ref: '#/components/schemas/GetListOfAccountsResHeader'
        exception_details:
          $ref: '#/components/schemas/exception_details'
        body:
          $ref: '#/components/schemas/GetListOfAccountsResBody'
    request_generic_customer_details:
      required:
        - header
      type: object
      properties:
        header:
          $ref: '#/components/schemas/CustomerDetailsHeader'
        body:
          $ref: '#/components/schemas/CustomerDetailsBody'
    response_generic_customer_details:
      required:
        - exception_details
        - header
      type: object
      properties:
        header:
          $ref: '#/components/schemas/CustomerDetailsResHeader'
        exception_details:
          $ref: '#/components/schemas/exception_details'
        body:
          $ref: '#/components/schemas/CustomerDetailsResBody'
    request_card_details:
      required:
        - header
      type: object
      properties:
        header:
          $ref: '#/components/schemas/CardDetailsHeader'
        body:
          $ref: '#/components/schemas/CardDetailsEnquiryBody'
    response_card_details:
      required:
        - exception_details
        - headerClientCreateHeader
      type: object
      properties:
        header:
          $ref: '#/components/schemas/CardDetailsResHeader'
        exception_details:
          $ref: '#/components/schemas/exception_details'
        body:
          $ref: '#/components/schemas/CardDetailsResBody'
    request_client_create:
      required:
        - header
      type: object
      properties:
        header:
[...]
